@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

header {
  width: 100%;
  height: auto;
  background-image: url(./photos/victor-garcia-1263465-unsplash.jpg);
  background-size: cover;
  padding-bottom: 200px;
}

header nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1000px;
  height: auto;
  padding: 30px 0px;
  margin: auto;
}

header nav ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}

header nav .logo h1 {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
  color: white;
}

header nav .logo span {
  color: #b78601;
}

header nav ul li a {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  color: white;
}

header nav ul li a:hover {
  color: #b78601;
}

header .center {
  max-width: 1000px;
  margin: auto;
  margin-top: 150px;
}

header .center h2 {
  font-family: "Roboto";
  font-size: 50px;
  font-weight: 400;
  color: white;
}

header .center h1 {
  font-family: "Roboto";
  font-size: 60px;
  font-weight: 400;
  color: #b78601;
  padding: 20px 0px;
}

header .center p {
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 400;
  color: white;
}

header .center button {
  border: 1px solid white;
  background: none;
  border-radius: 50px;
  width: 244px;
  height: 59px;
  /* border-color: white; */
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 400;
  color: white;
  margin-top: 50px;
}

main {
  max-width: 1050px;
  margin: 100px auto;
}

main h1 {
  font-family: "Roboto";
  font-size: 22px;
  font-weight: 400;
  color: #565656;
  margin-bottom: 100px;
}

main .photos {
  max-width: 1050px;
  height: auto;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
}

.photos img {
  width: 100%;
}

article {
  max-width: 100%;
  height: auto;
  background-color: #181818;
  padding-bottom: 100px;
}

article h3 {
  max-width: 1050px;
  margin: auto;
  font-family: "Roboto";
  font-size: 22px;
  font-weight: 400;
  color: white;
  padding: 100px 0px;
}

article .about {
  max-width: 1050px;
  margin: auto;
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 20px;
}


article .about .box img {
  width: 150px;
  display: block;
  margin: auto;
  /* height: 150px; */
  /* padding: 10px 50px 10px 100px; */
  box-sizing: border-box;
}

article .about .box h2 {
  font-family: "Roboto";
  font-size: 22px;
  font-weight: 400;
  color: white;
  text-align: center;
  padding-top: 10px;
}

article .about .box p {
  font-family: "Roboto";
  font-size: 17px;
  font-weight: 300;
  color: white;
  text-align: center;
  padding-top: 10px;
}

summary {
  max-width: 1050px;
  height: auto;
  margin: 100px auto;
  /* margin-bottom: 100px; */
}

summary h1 {
  font-family: "Roboto";
  font-size: 22px;
  font-weight: 400;
  padding: 100px 0px;
}

summary .section {
  max-width: 1050px;
  height: auto;
  display: grid;
  grid-template-columns: auto auto auto auto;
}

summary .section .box {
  max-width: 251px;
  height: 343px;
  /* border: 1px solid black; */
  background-color: black;
}

summary .section .box img {
  width: 100%;
}

summary .section .box h2 {
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 400;
  color: white;
  padding: 15px 25px;
}

summary .section .box p {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 400;
  color: white;
  padding: 10px 50px 10px 25px;
}


section {
  width: 100%;
  height: auto;
  background-image: url(./photos/alesia-kazantceva-283291-unsplash.jpg);
  background-size: cover;
}

section .main {
  max-width: 1050px;
  margin: auto;
  padding: 200px 0px;
}

section .main h1 {
  font-family: 'Roboto';
  font-size: 75px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.89);
  padding-bottom: 30px;
}

section .main p {
  font-family: 'Roboto';
  font-size: 19px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.842);
  padding-bottom: 30px;
}

section .main button {
  border: 1px solid rgb(0, 0, 0);
  background: none;
  border-radius: 50px;
  width: 244px;
  height: 59px;
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 400;
  color: rgb(0, 0, 0);
  margin-top: 50px;
}


footer {
  width: 100%;
  height: auto;
  background-color: #181818;
}

footer .media {
  max-width: 1050px;
  margin: auto;
  padding: 150px 0px 60px 0px;
  display: grid;
  grid-template-columns: auto auto;
  /* column-gap: 100px; */
}

footer .media .box h1 {
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 400;
  color: white;
}

footer .media .box span {
  color: #b78601;
}

footer .media .box p {
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 300;
  color: white;
  padding: 20px 0px;
  max-width: 525px;
}

footer .media .box1 ul {
  display: flex;
  justify-content: flex-end;
  /* width: 300px; */
  gap: 20px;
  padding-bottom: 50px;
}

footer .media .box1 ul li a {
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 400;
  color: white;
}

footer .media .box1 p {
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 300;
  color: white;
  text-align: end;
  padding: 5px 0px;
}

footer .end {
  max-width: 1050px;
  margin: auto;
  /* text-align: center; */
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

footer .end p {
  color: white;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}
footer .end p span{
  color: #b78601;
}

@media screen and (max-width: 830px) {
  header nav {
    display: flex;
    justify-content: center;
    padding: 30px 30px;
  }

  header .center {
    padding: 0px 30px;
  }

  main h1 {
    padding: 0px 15px;
  }

  main .photos {
    max-width: 710px;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    padding: 0px 15px;
  }

  article .about {
    max-width: 710px;
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 30px;
  }

  summary {
    padding: 0px 20px
  }

  summary .section {

    display: grid;
    grid-template-columns: auto auto auto;
    /* padding: 0px 20px; */
    row-gap: 50px;
  }

  section .main {
    padding: 100px 20px;
  }

  section .main button {
    display: block;
    margin: auto;
  }

  footer .media {
    display: grid;
    grid-template-columns: auto;
    /* max-width: 525px; */
    text-align: center;
    /* padding: 50px 15px; */
  }

  footer .media .box1 ul {
    display: none;
  }

  footer .media .box1 p {
    text-align: center;
  }
}

@media screen and (max-width: 550px) {
  header nav {
    display: flex;
    justify-content: center;
  }

  header nav ul {
    padding: 20px 0px;
  }

  main .photos {
    width: 340px;
    margin: auto;
    display: grid;
    grid-template-columns: auto;
  }

  main h1 {
    font-size: 25px;
  }

  article {
    width: 100%;
  }

  article h3 {
    text-align: center;
  }

  article .about {
    max-width: 351px;
    display: grid;
    grid-template-columns: auto;
  }

  summary .section {
    /* max-width: 510px; */
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
    padding: 0px 15px;
  }

  section .main h1 {
    font-size: 55px;
  }

  section .main p {
    font-size: 15px;
  }

  section .main button {
    border: 2px solid rgb(0, 0, 0);
    background: none;
    border-radius: 50px;
    width: 200px;
    height: 50px;
    font-family: "Roboto";
    font-size: 17px;
    font-weight: 500;
    color: rgb(0, 0, 0);
    margin-top: 50px;
  }
  footer .media .box p{
    /* max-width: 550px; */
    padding: 0px 15px;
  }
}

@media screen and (max-width: 420px) {
  header .center {
    margin-top: 50px;
  }

  header .center h2 {
    font-size: 30px;
  }

  header .center h1 {
    font-size: 40px;
  }

  header .center p {
    font-size: 20px;
  }

  main .photos img {
    width: auto;
    height: auto;
  }

  summary h1 {
    text-align: center;
  }

  summary .section {
    width: 251px;
    margin: auto;
    display: grid;
    grid-template-columns: auto;
    /* padding: 0px 20px; */
    row-gap: 50px;
  }
}